@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Poppins', areal;
    overflow-x: hidden;
    background-image: url(/src/Img/codepic.jpg);
    background-color: rgb(149, 161, 192);
    background-blend-mode: multiply;
    background-size: cover;
}

li {
    list-style: none;
}

.navbar li:hover,
.contact li:hover {
    font-size: 20px;
    font-weight: bold;
    transform: scale(1.4);
}

h1 {
    font-size: 40px;
    color: var(--h1);
    font-weight: bold;

}

h3 {
    color: var(--Grey);
}

p {
    font-size: 20px;
    color: var(--Grey)
}

ul li a,
a:visited,
a:focus,
a:hover,
a:active {
    text-decoration: none;


}

a:visited {
    text-decoration: none;
    color: var(--h1);
}

a:focus {
    text-decoration: none;
    color: rgb(255, 251, 2);
}

a:hover,
a:active {
    text-decoration: none;
    color: rgb(154, 194, 8)
}

.ctn {
    width: 100px;
    padding: 8px 12px;
    background: var(--h1);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}


.ctn:hover {
    background: white;
    border: 1px solid var(--h1);
    color: var(--h1);
    font-weight: bold;
}

:root {
    --h1: #fa8e00;
    --blue: #d83a3a;
    --dark-purple: #63ce31;
    --Grey: #ffffff;
    --Pink: #ff0fa3;
    --circle: #91b891;
    --light-pink: #0276d42f;
    --light-Purple: #0f009b;
    --light-blue: #0b629c;

}

.container {
    width: 80%;
    margin: 60px auto;

}

.row {
    display: flex;
    justify-content: center;
}

.col {
    display: flex;
    justify-content: center;
}

.highlight {
    color: var(--blue)
}

.circle {
    width: 1150px;
    height: 1050px;
    background: var(--circle);
    position: absolute;
    top: -40%;
    right: -30%;
    border-radius: 50%;
    z-index: -1;
}

/* Navbad */
.navbar {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.toggle-btn i {
    font-size: 30px;
    color: var(--dark-purple);
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}

.navbar .nav-list ul,
.social-icons ul {
    display: flex;

}

.nav-list ul li,
.social-icons ul li {
    margin: 0px 30px;
    color: var(--dark-purple);
    font-size: 22px;
    cursor: pointer;
}

.social-icons ul li:hover {
    transform: scale(3);
}

.logo {
    width: 50px;
}



/* Picture styling */

.profilpic {
    width: 700px;
    border-radius: 50%;
}

.portfoliopic {}

.projectLionPic {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

.avanceradProject {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

.DatabasPic {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

/* Header */
.header {
    margin-top: 0px;
    height: 70vh;
}

.header .col-1 {
    width: 100%;
    flex-direction: column;
    padding: 30px;
    justify-content: space-around;


}

.header .col-1 p {
    margin-left: 0px;
    /* margin-top: 0px; */
}

.header .col-2 {
    width: 100%;
}

.header .col-2 img {
    max-width: 80%;
}

.header h1 {
    margin-bottom: 30px;
}

.header p {
    margin: 30px auto;
}

/* Skills */
.title {
    text-align: center;
    margin-bottom: 60px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 50px;
}

.icon-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-title img {
    margin-right: 20px;
}

.icon-title h4 {
    font-size: 20px;
    color: var(--h1);
}

.grid-box .highlight {
    color: var(--dark-purple);
    font-weight: bold;
}

.grid-box {
    padding: 30px;

}

.skills .grid-box:hover {
    box-shadow: 0px 0px 30px #0000002f;
    border-radius: 40px;
}


/* Portfolio */
.portfolio {
    margin-top: 150px;
    position: relative;
}

.portfolio .title {
    text-align: left;
}

.portfolio .title .ctn-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.ctn-title h4 {
    color: var(--dark-purple);
    cursor: pointer;
    font-size: 25px;

}

.ctn-title .highlight {
    color: var(--Pink);
}

.portfolio .grid-wrapper {

    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 20px;
}

.rect-bg {
    width: 800px;
    height: 400px;
    background: var(--light-pink);
    position: absolute;
    top: -26%;
    right: -13%;
    z-index: -1;
    border-radius: 20px;
}

.portfolio .grid-box {
    position: relative;
}

.hover {
    position: absolute;
    top: 19%;
    left: 17%;
    width: 60%;
    height: 60%;
    background: var(--dark-purple);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: whitesmoke;
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.hover .highlight {
    color: var(--Pink);
}

.portfolio .grid-box:hover .hover {
    transform: scaleX(1);
}

.portfolio .grid-wrapper p {
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

/* Contact */

.contact .container {
    margin-top: 80px;
    text-align: center;
    background: var(--light-blue);
    padding: 60px;
    border-radius: 20px;

}

.contact .container h3 {
    margin: 40px 0px;
}

.contact .fa {
    margin-right: 30px;
    font-size: 30px;
    color: var(--blue);
}

.contact .quick-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact .quick-links ul {

    display: flex;
}

.contact .quick-links ul li {
    margin: 0px 20px;
    color: var(--dark-purple);
    font-weight: bold;
    cursor: pointer;
}

.copyright p {
    color: var(--dark-purple);
    font-weight: bold;

}

/* JavaScript */
#hide {
    display: none;

}

.scripttest {
    text-align: left;
    padding-left: 300px;
    padding-right: 300px;
}

.scripttest .scriptcontainer ul li {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: bold;
    font-weight: bolder;




}

.scripttest .scriptcontainer button {

    width: 100px;
    padding: 8px 12px;
    background: var(--h1);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
}

.scripttest .scriptcontainer button:hover {
    background: white;
    border: 1px solid var(--h1);
    color: var(--h1);
    font-weight: bold;
}

#btn {
    color: red;
    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 200px;
    width: 200px;
    cursor: pointer;
    color: #18e018;
    font-weight: bold;
    font-size: 20px;



}

#easterEgg2 {
    display: none;
    z-index: 10000;
    position: fixed;
    padding-top: 40vh;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 200px;
    color: white;
}

/* RepoStyling */

.repos {
    background-color: #0c2733;

}
.repos .buttonL a{
    color: #000000;
    font-size: 20px;
}